.container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
img{
    width: 150px;
    border-radius: 5px;
    margin: 5px;
}
.arrival{
    display: flex;
    flex-wrap: wrap;
}
.img{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}

form{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.form1{
    width: 30%;
}
.form2{
    width: 60%;
}
.radio-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    
}
.label-radio{
    display: flex;
    justify-content: center;
    font-size: x-large;


}
.buttom{
    width: 80%;
    height: 40px;
    padding: 20px;
    display: flex;
    justify-content: end;
}